<!-- Panel de filtros -->
<mat-form-field appearance="fill">
    <mat-label>Filtrar por prioridad</mat-label>
    <mat-select (selectionChange)="getDataByPriority($event.value)">
        <mat-option [value]="0">Todas</mat-option>
        <mat-option *ngFor="let priority of priorities;" [value]="priority.id">
            {{ priority.name }}
        </mat-option>
    </mat-select>
</mat-form-field>

<div class="">
    <button mat-flat-button routerLink="/tasks/created">create tasks</button>
</div>

<!-- Lista de tareas -->
@if (tareas) {


<div class="container">

    <table class="tasks-table" mat-table [dataSource]="tareas">

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Título </th>
            <td class="task-name" mat-cell *matCellDef="let tarea"> {{ tarea.name }} </td>
        </ng-container>

        <ng-container matColumnDef="subtask">
            <th mat-header-cell *matHeaderCellDef> Subtask </th>
            <td class="task-name" mat-cell *matCellDef="let subtask"> {{ subtask.subtaskName }} </td>
        </ng-container>

        <ng-container matColumnDef="reminders">
            <th mat-header-cell *matHeaderCellDef> Reminders </th>
            <td class="task-name" mat-cell *matCellDef="let reminders"> {{ reminders.reminderName }} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Descripción </th>
            <td class="task-name" mat-cell *matCellDef="let tarea"> {{ tarea.description }} </td>
        </ng-container>

        <ng-container matColumnDef="categories">
            <th mat-header-cell *matHeaderCellDef> Categories </th>
            <td class="task-name" mat-cell *matCellDef="let category"> {{ category.categories }} </td>
        </ng-container>
        <ng-container matColumnDef="tags">
            <th mat-header-cell *matHeaderCellDef> Tags </th>
            <td class="task-name" mat-cell *matCellDef="let tag"> {{ tag.tags }} </td>
        </ng-container>


        <ng-container matColumnDef="creation_date">
            <th mat-header-cell *matHeaderCellDef> Creada </th>
            <td mat-cell *matCellDef="let tarea" class="task-date"> {{ tarea.creationDate }} </td>
        </ng-container>

        <ng-container matColumnDef="expiration_date">
            <th mat-header-cell *matHeaderCellDef> Límite </th>
            <td mat-cell *matCellDef="let tarea" class="task-date"> {{ tarea.expirationDate }} </td>
        </ng-container>




        <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> Activa </th>
            <td mat-cell *matCellDef="let tarea">
                <mat-checkbox [checked]="tarea.active" (change)="toggleActive(tarea)">
                </mat-checkbox>
            </td>
        </ng-container>


        <ng-container matColumnDef="priorities">
            <th mat-header-cell *matHeaderCellDef> Prioridad </th>
            <td mat-cell *matCellDef="let tarea">
                <span class="priority-badge priority-high">
                    {{ tarea.priorityName }}
                </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="TaskStatus">
            <th mat-header-cell *matHeaderCellDef> Tasks Status </th>
            <td mat-cell *matCellDef="let tarea">
                <span class="priority-badge priority-high">
                    {{ tarea.taskStatusName }}
                </span>
            </td>
        </ng-container>


        <ng-container matColumnDef="accciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td class="actions" mat-cell *matCellDef="let tarea">
                <button class="btn btn-secondary edit-btn" routerLink="/tasks/editar/{{tarea.id}}">Editar</button>
                <button class="btn btn-danger" (click)="delete(tarea.id)">Eliminar</button>
            </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="columnasAmostras"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasAmostras;"></tr>
    </table>
</div>

}